#option{margin-left:20px;padding-top:10px;height:105px}
#option ul li{width:142px;margin-right:5px;padding:3px 0}
#form{width:418px;padding-top:10px;margin-left:495px;margin-top:0;margin-bottom:0}
#form div{height:26px;line-height:26px;padding:2px 0 2px 20px}
#form .btn{right:15px}
#copyright{margin-top:20px}
#application,#application ul{height:25px}
